.header {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  @media screen and (min-width: 768px) {
    justify-content: normal;
    padding: 1rem 4rem;
  }
}

.body {
  padding: 0rem 2.5rem;

  @media screen and (min-width: 768px) {
    padding: rem 4rem;
  }
}

h1,
p {
  font-family: "Poppins", sans-serif;
  color: #ebf0f7;
}
