.body {
  background-color: #13072e;
  width: 100vw;
  height: 100vh;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  @media screen and (min-width: 768px) {
    justify-content: normal;
    padding: 1rem 4rem;
  }
}
